body .form-group.power-bi-radio-button-wrapper{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

body .form-group.power-bi-radio-button-wrapper.error{
  margin-bottom: 65px;
}

body .form-group.power-bi-radio-button-wrapper label.control-label::after{
  content: none;
}

body input.power-bi-radio-button-input{
  margin: 0 6px 3px 0;
  line-height: 1;
  min-height: 14px;
  max-height: 14px;
  height: 14px;
  min-width: 14px;
  max-width: 14px;
  width: 14px;
  appearance: auto !important;
}

body .form-group.power-bi-radio-button-wrapper .info-block{
  position: absolute;
  left: 0;
  bottom: -15px;
}

body .form-group.power-bi-radio-button-wrapper .error-block{
  position: absolute;
  left: 0;
  bottom: -50px;
}

body fieldset .form-group{
  clear: both;
}

body [data-module="resource-view-filters-form"]{
  display: none !important;
}

body .public-report-field{
  display: none;
}
