body .power-bi-view{
  background: none !important;
}

body .power-bi-view div#power-bi-wrapper{
  padding-top: 50%;
  overflow: visible !important;
  position: relative !important;
}

body .power-bi-view div#power-bi-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: visible !important;
}

body .power-bi-view[data-fullscreen="True"] div#power-bi-container{
  position: fixed !important;
}

body .power-bi-view div.power-bi-error-message{
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #ffeeba;
  color: #856404;
  background-color: #fff3cd;
  padding: 12px 20px;
  border-radius: .25em;
  line-height: 1.5;
  margin: 1.5rem;
}

body .power-bi-view div.power-bi-error-message p{
  margin: 0;
}
