body ul.nav li.view-item.view-item-power_bi_view a i.fa-power-bi{
  position: relative;
  vertical-align: bottom !important;
}

body ul.nav li.view-item.view-item-power_bi_view a i.fa-power-bi:before{
  position: absolute;
  font: inherit !important;
  background-image: url("/power_bi.svg");
  background-repeat: no-repeat;
  background-size: 26px 28px;
  content: "";
  width: 26px;
  height: 28px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body ul.dropdown-menu > li > a > i.fa-power-bi:before{
  display: inline-block;
  font: inherit !important;
  background-image: url("/power_bi.svg");
  background-repeat: no-repeat;
  background-size: 17px 16px;
  content: "";
  width: 17px;
  height: 16px;
  filter: grayscale(100%);
}
